main {
  min-height: calc(100vh - 160px);
}

.card {
  width: 30%;
  max-height: 500px;
  margin: 1em;
  padding: 1em;
}

.card-body {
  overflow: scroll;

}

img {
  height:40%;
  object-fit: cover;
}

#contenedor {
  display: flex; 
}